bokeh
ipython
ipywidgets
jupyterlab_widgets
matplotlib
numcodecs
numpy
openslide-python
opencv
pandas
pillow
psutil
pynvml
pytorch-ignite
scikit-learn
scipy
tensorboardX
transformers
tqdm
widgetsnbextension
zarr
