absl-py
alabaster
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asciitree
asttokens
async-lru
attrs
babel
beautifulsoup4
black
bleach
bokeh
certifi
cffi
charset-normalizer
click
comm
contourpy
curio
cycler
debugpy
decorator
defusedxml
docrepr
docutils
exceptiongroup
executing
fasteners
fastjsonschema
filelock
fonttools
fqdn
fsspec
grpcio
h11
httpcore
httpx
huggingface-hub
idna
imagesize
iniconfig
intersphinx_registry
ipdb
ipykernel
ipyparallel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
monai
mpmath
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numcodecs
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
openslide-python
outcome
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycparser
Pygments
pynvml
pyparsing
pytest
pytest-asyncio
python-dateutil
python-json-logger
pytorch-ignite
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
safetensors
scikit-learn
scipy
Send2Trash
setuptools
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
staintools
sympy
tensorboard
tensorboard-data-server
tensorboardX
terminado
testpath
threadpoolctl
tinycss2
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
trio
triton
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
xyzservices
zarr
